In [5]:
import pandas as pd
df = pd.read_csv('car_prices.csv')

In [6]:
df.isnull().sum()

year                0
make              238
model             240
trim              423
body             1680
transmission     6749
vin                 0
state               1
condition       11793
odometer           76
color             143
interior          143
seller              1
mmr                 1
sellingprice        1
saledate            1
dtype: int64

In [9]:
fill_unknown = ['make', 'model', 'trim', 'body', 'transmission', 'color', 'interior', 'seller']
df[fill_unknown] = df[fill_unknown].fillna('unknown')

In [ ]:
df.isnull().sum()

year                0
make                0
model               0
trim                0
body                0
transmission        0
vin                 0
state               1
condition       11794
odometer           82
color               0
interior            0
seller              0
mmr                 1
sellingprice        1
saledate            1
dtype: int64

In [7]:
df['condition'] = df['condition'].fillna(df['condition'].median())
df['odometer'] = df['odometer'].fillna(df['odometer'].median())
df['mmr'] = df['mmr'].fillna(df['mmr'].median())
df['sellingprice'] = df['sellingprice'].fillna(df['sellingprice'].median())

In [10]:
df.isnull().sum()

year            0
make            0
model           0
trim            0
body            0
transmission    0
vin             0
state           1
condition       0
odometer        0
color           0
interior        0
seller          0
mmr             0
sellingprice    0
saledate        1
dtype: int64

In [11]:
df['state'] = df['state'].fillna(df['state'].mode()[0])
df['saledate'] = pd.to_datetime(df['saledate'], errors='coerce')
df['saledate'] = df['saledate'].fillna(method='ffill')

<ipython-input-11-db5e7d72133c>:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['saledate'] = pd.to_datetime(df['saledate'], errors='coerce')
<ipython-input-11-db5e7d72133c>:2: FutureWarning: In a future version of pandas, parsing datetimes with mixed time zones will raise an error unless `utc=True`. Please specify `utc=True` to opt in to the new behaviour and silence this warning. To create a `Series` with mixed offsets and `object` dtype, please use `apply` and `datetime.datetime.strptime`
  df['saledate'] = pd.to_datetime(df['saledate'], errors='coerce')
<ipython-input-11-db5e7d72133c>:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['saledate'] = df['saledate'].fillna(method='ffill')

In [12]:
df.isnull().sum()

year            0
make            0
model           0
trim            0
body            0
transmission    0
vin             0
state           0
condition       0
odometer        0
color           0
interior        0
seller          0
mmr             0
sellingprice    0
saledate        0
dtype: int64

In [13]:
df.isnull().sum()

year            0
make            0
model           0
trim            0
body            0
transmission    0
vin             0
state           0
condition       0
odometer        0
color           0
interior        0
seller          0
mmr             0
sellingprice    0
saledate        0
dtype: int64

In [14]:
df.dropna(inplace=True)

In [15]:
print("✅ Missing values after cleaning:\n")
print(df.isnull().sum())

✅ Missing values after cleaning:

year            0
make            0
model           0
trim            0
body            0
transmission    0
vin             0
state           0
condition       0
odometer        0
color           0
interior        0
seller          0
mmr             0
sellingprice    0
saledate        0
dtype: int64

In [16]:
df.columns = df.columns.str.lower().str.strip().str.replace(' ', '_')

In [17]:
df.dtypes

year              int64
make             object
model            object
trim             object
body             object
transmission     object
vin              object
state            object
condition       float64
odometer        float64
color            object
interior         object
seller           object
mmr             float64
sellingprice    float64
saledate         object
dtype: object

In [18]:
df['saledate'] = pd.to_datetime(df['saledate'])

ValueError: Tz-aware datetime.datetime cannot be converted to datetime64 unless utc=True, at position 13

In [19]:
df['saledate'] = pd.to_datetime(df['saledate'], utc=True)

In [ ]:
df.dtypes

year                          int64
make                         object
model                        object
trim                         object
body                         object
transmission                 object
vin                          object
state                        object
condition                   float64
odometer                    float64
color                        object
interior                     object
seller                       object
mmr                         float64
sellingprice                float64
saledate        datetime64[ns, UTC]
dtype: object

In [22]:
df['saledate'] = df['saledate'].dt.tz_localize(None)

In [23]:
df.dtypes

year                     int64
make                    object
model                   object
trim                    object
body                    object
transmission            object
vin                     object
state                   object
condition              float64
odometer               float64
color                   object
interior                object
seller                  object
mmr                    float64
sellingprice           float64
saledate        datetime64[ns]
dtype: object

In [24]:
df

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,2014-12-16 04:30:00
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,2014-12-16 04:30:00
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,2015-01-14 20:30:00
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,2015-01-28 20:30:00
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,2014-12-18 04:30:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53377,2012,Kia,Sorento,LX,SUV,unknown,5xykt4a19cg283592,pa,48.0,37208.0,burgundy,beige,kia motors finance,13850.0,14000.0,2015-01-02 01:00:00
53378,2012,Kia,Soul,Base,Wagon,manual,kndjt2a54c7748926,tn,37.0,36663.0,black,black,gm financial,9700.0,9500.0,2014-12-30 02:30:00
53379,2012,Kia,Sorento,LX,SUV,automatic,5xykt4a6xcg205737,tx,19.0,78495.0,green,black,tdaf remarketing,11200.0,10500.0,2014-12-31 02:15:00
53380,2012,Kia,Sorento,LX,SUV,automatic,5xykt3a61cg230276,oh,36.0,65239.0,burgundy,gray,jr's auto city inc,11800.0,12400.0,2014-12-23 01:30:00
53381,2012,Kia,Sportage,EX,SUV,automatic,kndpc3a26c73311,ca,33.0,67565.5,unknown,unknown,unknown,10650.0,10200.0,2014-12-23 01:30:00

In [25]:

df['saledate'] = pd.to_datetime(df['saledate'], utc=True).dt.tz_localize(None)

In [26]:
df

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,2014-12-16 04:30:00
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,2014-12-16 04:30:00
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,2015-01-14 20:30:00
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,2015-01-28 20:30:00
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,2014-12-18 04:30:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53377,2012,Kia,Sorento,LX,SUV,unknown,5xykt4a19cg283592,pa,48.0,37208.0,burgundy,beige,kia motors finance,13850.0,14000.0,2015-01-02 01:00:00
53378,2012,Kia,Soul,Base,Wagon,manual,kndjt2a54c7748926,tn,37.0,36663.0,black,black,gm financial,9700.0,9500.0,2014-12-30 02:30:00
53379,2012,Kia,Sorento,LX,SUV,automatic,5xykt4a6xcg205737,tx,19.0,78495.0,green,black,tdaf remarketing,11200.0,10500.0,2014-12-31 02:15:00
53380,2012,Kia,Sorento,LX,SUV,automatic,5xykt3a61cg230276,oh,36.0,65239.0,burgundy,gray,jr's auto city inc,11800.0,12400.0,2014-12-23 01:30:00
53381,2012,Kia,Sportage,EX,SUV,automatic,kndpc3a26c73311,ca,33.0,67565.5,unknown,unknown,unknown,10650.0,10200.0,2014-12-23 01:30:00

In [27]:
df['saledate'] = df['saledate'].dt.strftime('%d-%m-%Y')

In [28]:
df

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,16-12-2014
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,16-12-2014
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,14-01-2015
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,28-01-2015
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,18-12-2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53377,2012,Kia,Sorento,LX,SUV,unknown,5xykt4a19cg283592,pa,48.0,37208.0,burgundy,beige,kia motors finance,13850.0,14000.0,02-01-2015
53378,2012,Kia,Soul,Base,Wagon,manual,kndjt2a54c7748926,tn,37.0,36663.0,black,black,gm financial,9700.0,9500.0,30-12-2014
53379,2012,Kia,Sorento,LX,SUV,automatic,5xykt4a6xcg205737,tx,19.0,78495.0,green,black,tdaf remarketing,11200.0,10500.0,31-12-2014
53380,2012,Kia,Sorento,LX,SUV,automatic,5xykt3a61cg230276,oh,36.0,65239.0,burgundy,gray,jr's auto city inc,11800.0,12400.0,23-12-2014
53381,2012,Kia,Sportage,EX,SUV,automatic,kndpc3a26c73311,ca,33.0,67565.5,unknown,unknown,unknown,10650.0,10200.0,23-12-2014

In [29]:
df.drop_duplicates(inplace=True)

In [30]:
df[df.duplicated()]

Empty DataFrame
Columns: [year, make, model, trim, body, transmission, vin, state, condition, odometer, color, interior, seller, mmr, sellingprice, saledate]
Index: []